@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lexend+Mega:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Tambahkan CSS kustom di bawah sini */
.fufu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fufu img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono','Public Sans', sans-serif;
}

@layer base {
    body {
        @apply flex flex-col h-screen justify-between;
    }

    header {
        @apply w-full h-[68px] px-10 bg-[#e5f4f1] justify-start items-center gap-2.5 inline-flex;
    }

    main {
        @apply flex justify-center flex-grow p-[10px] mb-auto;
    }
}

@layer components {
    .header1 {
        @apply text-black tracking-wide text-4xl font-bold text-center h-auto;
        font-family: 'Comfortaa';
    }

    .header3 {
        @apply text-black text-[26px] font-medium h-auto;
        font-family: 'Comfortaa';
    }

    .descript {
        @apply text-[#030303] font-normal text-[15px] text-justify;
    }
    
    
    .loginBox {
        @apply w-[700px] h-[353px] bg-[#f8eeec] rounded-[20px] shadow-[8px_8px_0px_rgba(0,0,0,1)] flex-col justify-center items-center gap-2.5 inline-flex relative;
    }

    .editBox {
        @apply bg-[#f8eeec] rounded-[20px] shadow-[8px_8px_0px_rgba(0,0,0,1)] flex-col justify-start items-start gap-2.5 flex relative w-5/6 h-4/5 px-14 py-5;
    }

    
    .wlcm {
        @apply w-full h-auto px-10 flex-col justify-center items-center gap-4 inline-flex;
    }
    
    .text-center {
        @apply text-[#030303] text-[32px] font-bold;
    }
    
    .login {
        @apply w-full h-[180px] gap-2.5 flex;
    }
    
    .show-pswd {
        @apply flex;
    }
    
    .form {
        @apply w-full flex-col justify-center items-start gap-2.5 flex;
    }

    .ket {
        @apply flex justify-items-center flex-col w-full;
    }
    
    .header4 {
        @apply text-[#030303] text-[15px] font-normal font-['Poppins'];
    }
    
    .BoxPlchdr {
        @apply text-black text-lg font-normal w-full;
    }

    .buttonRec {
        @apply h-12 w-auto border-black border-2 p-2.5 bg-[#ffe2e4] hover:bg-[#fbcdd0] hover:shadow-[2px_2px_0px_rgba(0,0,0,1)] cursor-pointer;
    }

    .buttonCir {
        @apply h-12 w-auto flex items-center border-black border-2 p-2.5 bg-[#e5f4f1] hover:bg-[#d7f2ed] hover:shadow-[2px_2px_0px_rgba(0,0,0,1)] cursor-pointer rounded-md;
    }

    .buttonCirRd {
        @apply h-12 w-auto flex items-center border-black border-2 p-2.5 bg-[#ffe2e4] hover:bg-[#fbcdd0] hover:shadow-[2px_2px_0px_rgba(0,0,0,1)] cursor-pointer rounded-md;

    }

    .cardRec {
        @apply border-[3.4px] border-black bg-[#e9f5db] shadow-[8px_8px_0px_rgba(0,0,0,1)] place-content-center w-auto h-fit;
    }

    .cardCir {
        @apply border-[3.4px] border-black bg-[#f8eeec] shadow-[8px_8px_0px_rgba(0,0,0,1)] place-content-center w-auto h-fit rounded-xl;
    }

    .profil {
        @apply p-5 flex flex-row gap-10 m-5;
    }

    .imgPrf{
        @apply rounded-full w-[270px] border-4 border-black;
    }

    .photoProfil {
        @apply flex items-center flex-col gap-4 justify-center;
    }

    .bag1 {
        @apply h-full basis-3/4 p-[10px] w-full flex justify-center align-middle items-center bg-[#e2eafc];
    }

    .user {
        @apply flex justify-start;
    }

    .formRisk{
        @apply space-y-4 w-auto grid grid-cols-4 gap-[20px];
    }

    .editPrfl1 {
        @apply h-full flex flex-row items-start gap-10;
    }

    .editPrfl2 {
        @apply pt-5 pl-10 gap-7 flex flex-col;
    }

    .mainEditPrfl {
        @apply basis-7/12 w-full border-t-[2px] gap-5 border-gray-600 flex flex-row;
    }

    .editPhoto {
        @apply rounded-full w-[180px] border-4 border-black;
    }

    .editFrmBtn {
        @apply flex flex-row gap-[10px] items-start;
    }
    
}

@layer utilities {
    .blur-bg {
        filter: blur(4px);
        transition: filter 0.3s ease-in-out;
    }

    .popup-enter {
        opacity: 0;
        transform: scale(0.95);
    }

    .popup-enter-active {
        opacity: 1;
        transform: scale(1);
        transition: opacity 0.1s ease, transform 0.1s ease;
    }

    .popup-exit {
        opacity: 1;
        transform: scale(1);
    }

    .popup-exit-active {
        opacity: 0;
        transform: scale(0.95);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
        appearance: textfield;
    }

    input:focus, textarea:focus, select:focus {
        outline: none !important;
        box-shadow: none !important; /* Untuk elemen yang menggunakan shadow */
        border-color: initial !important; /* Untuk elemen yang menggunakan border */
    }

    select option:hover {
    background-color: #d7f2ed; /* Warna latar belakang saat hover */
    color: black; /* Warna teks saat hover */
    }

    
}



@media screen and (min-width: 1032px) {
    #burger {
        @apply hidden;
    }

    
}


@media screen and (max-width: 1032px) {

    .bag2 {
        @apply basis-0 hidden;
    }

    .mainPrf{
        @apply bg-[#e2eafc]
    }
    header {
        @apply px-5;
    }

    .profil {
        @apply flex-col gap-1 w-full;
    }

    .photoProfil {
        @apply gap-2 flex-row;
    }

    .imgPrf {
        @apply w-[180px];
    }

    .formRisk {
        @apply grid-cols-2 gap-3;
    }

    .mainEditPrfl {
        @apply flex-col gap-1 items-start;
    }

    .editPrfl1 {
        @apply pl-0 gap-1 flex-col justify-center items-center;
    }

    .editPrfl2 {
        @apply pl-0 gap-1;
    }

    .editBox {
        @apply items-center;
    }

    .editFrmBtn {
        @apply flex-row gap-1;
    }

    #logout {
        display: none;
    }
    
    
}

#burgerNav {
    display: none;
}

@media screen and (max-width: 640px) {
    .loginBox {
        @apply w-[438px];
    }

    /* .editBox {
        @apply w-[438px] h-[auto] px-5 py-5;
    } */

    header {
        @apply px-3;
    }

    .judul {
        @apply text-3xl
    }

    .profil {
        @apply p-4 m-2;
    }

    .imgPrf {
        @apply min-w-[140px];
    }

    .bag1 {
        @apply flex-none;
    }

    .formRisk {
        @apply grid-cols-1 gap-1;
    }    

    

}
