@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahkan CSS kustom di bawah sini */
.fufu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fufu img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.loginBox {
    @apply w-[860px] h-[460px] px-[155px] pt-10 pb-[41px] bg-[#eeeeee]/95 rounded-[20px] shadow flex-col justify-center items-center gap-2.5 inline-flex;
}

.cek {
    background-color: red;
}