/venv/
rizzman/venv/
rizzman/package-lock.json
rizzman/package.json
rizzman/tailwind.config.js
rizzman/node_modules/
rizzman/media/user_photos/
rizzman/static/css/output.css
rizzman/rizzman/settings.py

# Python files
*.pyc
rizzman/rizzman/__pycache__/
rizzman/staticfiles/
rizzman/rizzman/migrations/__pycache__