{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <link href="{% static 'css/tailwind.css' %}" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
    <script src="https://unpkg.com/unlazy@0.11.3/dist/unlazy.with-hashing.iife.js" defer init></script>
    <script src="https://kit.fontawesome.com/385cd213ed.js" crossorigin="anonymous"></script>
    {% block title %}
    
    {% endblock title %}
    <script src="{% static 'js/custom.js' %}" defer></script>
</head>
<body>
    {% include 'nav.html' %}
    {% block content %}
    
    {% endblock content %}
</body>
</html>