{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>RizzMan</title>
{% endblock title %}

{% block content %}
    <main id="pageWrapper">
        <div class="mainInd"> 
            {% if messages %}
            <div class="mb-4 space-y-2">
                 {% for message in messages %}
                 <div class="bg-red-50 dark:bg-red-900 border border-red-200 dark:border-red-700 text-red-600 dark:text-red-400 px-4 py-2 rounded-md text-sm animate-pulse">
                     {{ message }}
                    </div>
                    {% endfor %}
            </div>
            {% endif %}
            <div class="wellcome1">
                <h1 class="header1">Welcome to RizzMan!</h1>
                <p class="text-center text-[20px]">Rizzman adalah platform inovatif untuk membantu universitas dalam mengelola dan memantau risiko dengan lebih efektif. Website ini dirancang khusus untuk mendukung pengguna dalam :</p>
            </div>
            <div class="wellcome2">
                <div class="cardCir p-5 cardAni shadow-none">
                    <h4 class="header3 font-bold">Mengisi Form Penilaian Risiko</h4>
                    <p>Input berbagai variabel dan skala untuk menentukan tingkat risiko, mulai dari rendah hingga tinggi.</p>
                </div>
                <div class="cardCir p-5 shadow-none cardAni">
                    <h4 class="header3 font-bold">Melihat Hasil Analisis</h4>
                    <p>Tinjau hasil pengisian Anda dalam bentuk tabel yang terorganisir dan grafik visual yang informatif.</p>
                </div>
            </div>
            <div class="wellcome1">
                <p class="text-center text-[20px]">Dengan Rizzman, proses manajemen risiko menjadi lebih terstruktur, transparan, dan mudah diakses. Mari lebih aman dan tanggap risiko dengan menggunakan Rizzman!</p>
                {% if not request.user.is_authenticated %}
                    <button class="buttonCir w-1/2 items-center place-content-center text-[25px]" onclick="loginPopup()">Login</button>
                {% endif %}
            </div>
         </div>
     </main>
{% endblock content %}
