{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>RizzMan</title>
    <style>
        #profileBtn {
            display: none;
        }
    </style>
{% endblock title %}

{% block content %}
    <!-- Tulis html disini tanpa menambahkan apa yang sudah ada di base.html  -->
    <!-- ini untuk blur ketika popup login muncul -->


     <main>
        <div id="pageWrapper"> 
            <div class="fufu">
                <img src="{% static 'img\herta.jpg' %}" alt="fufu">
            </div>
         </div>
    
     </main>
{% endblock content %}
