{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Login Page</title>
{% endblock title %}

{% block content %}
    <!-- Tulis html disini tanpa menambahkan apa yang sudah ada di base.html  --> 
<div id="pageWrapper" class="h-full">
    <main class="main h-full flex-row px-[10px] py-0 bg-[#90ee90] divide-x-4 divide-black">
        <div class="basis-3/4 p-[10px] w-full justify-items-center">
            <div class="profil card">
                <div class="photoProfil mb-5">
                    <img src="{% static 'img/download.jpg' %}" alt="profil" class="rounded-full w-[280px] border-4 border-black">
                </div>
                <div>
                    <table class="user">
                        <tr>
                            <th>Nama</th>
                            <td class="w-3">:</td>
                            <td>Rizky</td>
                        </tr>
                        <tr>
                            <th>Nomor Induk</th>
                            <td>:</td>
                            <td>888838383</td>
                        </tr>
                        <tr>
                            <th>Alamat</th>
                            <td>:</td>
                            <td>Bandung</td>
                        </tr>
                        <tr>
                            <th>Tanggal Lahir</th>
                            <td>:</td>
                            <td>17 Agustus 1945</td>
                        </tr>
                        <tr>
                            <th>Gelar</th>
                            <td>:</td>
                            <td>Dosen</td>
                        </tr>
                    </table>    
                </div>    
            </div>
        </div>
        <div class="basis-1/4 p-[10px]">
            <div class="menu m-4 card">
                <h1 class="mb-4 font-bold">Menu</h1>
            <ul>
                <li><a href="">Isi Formulir</a></li>
                <li><a href="">lihat tabel</a></li>
            </ul>
            </div>
        </div>
    </main>
</div>
{% endblock content %}
