{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Login Page</title>
{% endblock title %}

{% block content %} 
    <!-- Tulis html disini tanpa menambahkan apa yang sudah ada di base.html  -->
     
    <main class="main">
        <div class="container">
            <div class="loginBox">
                <div class="wlcm">
                    <h2 class="text-center">Welcome To RizzMan</h2>
                    <div class="login">
                        <form action="" method="post" class="form">
                            <h4 class="header4">Log In</h4>
                            <input type="email" name="email" placeholder="email" class="kotak" required>
                            <div class="flex flex-row justify-between w-full h-[39px] gap-0">
                                <input type="password" name="password" placeholder="password" class="flex-grow kotak-pass" required>
                                <div class="w-[50px] flex justify-center items-center m-0 border-[1px] border-l-0 border-[#8B8B8B] bg-white">
                                    <a href=""><img src="{% static '\img\eye.png' %}" alt="see" class="w-[40px]"></a>
                                </div>
                            </div>
                            <button type="submit" class="button text-center text-white text-lg font-normal font-['Poppins']">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
