{% load static %}
<script src="https://kit.fontawesome.com/385cd213ed.js" crossorigin="anonymous"></script>
<header class="border-b-4 border-black">
    <div class="flex justify-between w-full flex-row">
        <div class="logo flex flex-row justify-items-center content-center gap-3">
            <img src="{% static 'img/bank.png' %}" alt="logo" class="w-9">
            <h1 class="header1">RizzMan</h1>
        </div>
        <div class="navBar justify-items-center content-center">
            <ul class="flex flex-row gap-[10px]">
                <li><a class="buttonNav" href="#ke_daftar.html">Daftar</a></li>
                <li><a class="buttonNav"  onclick="loginPopup()">Login</a></li>
            </ul>
        </div>
    </div>
</header>

<div id="overlay" class="hidden fixed inset-0 z-40" onclick="loginPopup()"></div>
<div class="container hidden fixed inset-0 justify-center items-center z-50" id="loginPop">
    <div class="loginBox">
        <button class="absolute top-4 right-4" onclick="loginPopup()">
            <i class="fa-solid fa-square-xmark fa-2x"></i>
        </button>
        <div class="wlcm">
            <h2 class="text-center">Log In</h2>
            <div class="login">
                <form action="" method="post" class="form">
                    <div class="ket">
                        <h4 class="header4">Email</h4>
                        <input type="email" name="email" placeholder="email" class="kotak outline-none" required>
                    </div>
                    <div class="ket">
                        <h4 class="header4">Password</h4>
                        <input type="password" name="password" placeholder="password" class="kotak pass" required>
                    </div>
                <button type="submit" class="button text-center text-white text-lg font-normal font-['Poppins']">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>