{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Login Page</title>
    <style>
        #signupBtn {
            display: none;
        }
        #loginBtn {
            display: none;
        }
        #profileBtn {
            display: none;
        }
    </style>
{% endblock title %}

{% block content %}
    <!-- Tulis html disini tanpa menambahkan apa yang sudah ada di base.html  --> 
<div id="pageWrapper" class="h-full">
    <main class="main h-full flex-row p-0 divide-x-4 divide-black">
        <div class="basis-3/4 p-[10px] w-full flex justify-center align-middle bg-[#e2eafc]">
            <div class="profil cardRec p-8 flex flex-col gap-4">
                <div class="photoProfil flex justify-center">
                    <img src="{% static 'img/download.jpg' %}" alt="profil" class="rounded-full w-[270px] border-4 border-black">
                </div>
                <div class="flex flex-col justify-items-center">
                    <table class="user">
                        <tr>
                            <th>Nama</th>
                            <td class="w-3">:</td>
                            <td>Rizky</td>
                        </tr>
                        <tr>
                            <th>Nomor Induk</th>
                            <td>:</td>
                            <td>888838383</td>
                        </tr>
                        <tr>
                            <th>Alamat</th>
                            <td>:</td>
                            <td>Bandung</td>
                        </tr>
                        <tr>
                            <th>Tanggal Lahir</th>
                            <td>:</td>
                            <td>17 Agustus 1945</td>
                        </tr>
                        <tr>
                            <th>Gelar</th>
                            <td>:</td>
                            <td>Dosen</td>
                        </tr>
                        <tr>
                            <th>Total Pengisian</th>
                            <td>:</td>
                            <td>10</td>
                        </tr>
                    </table>    
                </div>    
            </div>
        </div>
        <div class="basis-1/4 p-[10px] bg-[#fbf8cc]">
            <div class="menu m-4 cardCir flex flex-col gap-5 p-[20px]">
                <h1 class="font-bold text-2x1 text-center font-['Comfortaa']">Menu</h1>
                <ul class="flex flex-col gap-5">
                    <li><div class="buttonCir mb-[20px] flex justify-center align-middle h-auto"><a class="text-center text-[20px]" href='{% url "forms" %}'>Isi Formulir</a></div></li>
                    <li><div class="buttonCir flex justify-center align-middle h-auto"><a class="text-center text-[20px]" href="">Lihat Tabel</a></div></li>
                </ul>
            </div>
        </div>
    </main>
</div>
{% endblock content %}
