{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Profile</title>
    <title>Profile</title>
    <style>
        th, td {
            font-size: 18px;
        }
        th {
            text-align: left;
            font-weight: normal;
            padding-right: 10px;
        }
        input[name="foto"] {
            display: none;
        }
        input[name="foto"] {
            display: none;
        }
    </style>
{% endblock title %}

{% block content %}
    <!-- Tulis html disini tanpa menambahkan apa yang sudah ada di base.html  --> 
    <main id="pageWrapper" class="mainPrf p-0 flex flex-grow justify-center items-center divide-x-4 divide-black">
        <div class="profil cardRec">
            <div class="photoProfil">
                {% if user_profile.foto %}
                <div class="ppEdit">
                    <img src="{{ user_profile.foto.url}}" alt="Profile Photo" class="imgPrf">
                </div>
                {% else %}
                <div class="ppEdit">
                    <img src="{% static 'img/herta.jpg' %}" alt="profil" class="imgPrf">
                </div>
                {% endif %}
                <div class="buttonCir w-fit h-fit p-0 items-center justify-center flex"><button onclick="popupEdit()" class="btnTxt font-normal text-[20px] p-2 w-full h-full text-center flex items-center justify-center">Edit Profile</button></div>
            </div>
            <div class="flex flex-col gap-5 basis-2/5 justify-center">
                <div class="flex flex-col cardCir cardAni shadow-none w-full bg-pink-50 p-4">
                    <table class="user">
                        <tr>
                            <th>Nama</th>
                            <td class="w-3">:</td>
                            <td>{{user_profile.nama}}</td>
                        </tr>
                        <tr>
                            <th>ID</th>
                            <td>:</td>
                            <td>{{user_profile.user}}</td>
                        </tr>
                        <tr>
                            <th>Alamat</th>
                            <td>:</td>
                            <td>{{user_profile.alamat}}</td>
                        </tr>
                        <tr>
                            <th>Tanggal Lahir</th>
                            <td>:</td>
                            <td>{{user_profile.tanggal_lahir|date:"d F Y"}}</td>
                        </tr>
                        <tr>
                            <th>Jabatan</th>
                            <td>:</td>
                            <td>{{user_profile.jabatan}}</td>
                        </tr>
                        <tr>
                            <th>Total Pengisian</th>
                            <td>:</td>
                            <td>{{user_profile.total_pengisian}}</td>
                        </tr>
                    </table>    
                </div>    
            </div>
        </div>
        <div class="bag2 basis-1/4 p-[10px] bg-gray-100 flex-shrink-0 h-full">
            <div class="menu m-4 cardCir flex flex-col gap-5 p-[20px]">
                <h1 class="font-bold text-center text-[30px] header3">Menu</h1>
                <ul class="flex flex-col gap-10">
                    <li><div class="buttonCir flex justify-center align-middle h-fit p-0"><a class="page-link text-center font-bold text-[20px] w-full h-auto p-3" href='{% url "forms" %}'>Isi Formulir</a></div></li>
                    <li><div class="buttonCir flex justify-center align-middle h-fit p-0"><a class="page-link text-center font-bold text-[20px] w-full h-auto p-3" href="{% url 'tabel' %}">Lihat Tabel</a></div></li>
                </ul>
            </div>
        </div>
    </main>

<div class="container hidden fixed inset-0 justify-center items-center z-50 transition-all duration-200" id="editPop">
    <div class="editBox overflow-auto">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="editPrfl1">
                <div class="flex flex-col items-center gap-2">
                    <div class="photoProfile">
                        {% if user_profile.foto %}
                        <div class="relative w-fit h-fit">
                            <div class="ppEdit w-[270px] h-[270px]">
                                <img src="{{ user_profile.foto.url}}" alt="Profile Photo" class="imgPrf">
                            </div>
                            <button type="button" onclick="editFoto()" class="flex flex-row items-center gap-1 w-fit h-fit px-1 py-[2px] rounded-md bg-gray-800 text-white absolute top-[75%] left-[1%] z-50">
                                <i class="fa-solid fa-pen"></i>
                                <p>Edit</p>
                            </button>
                        </div>
                        {% else %}
                        <div class="ppEdit">
                            <img src="{% static 'img/herta.jpg' %}" alt="Default Profile Photo" class="ImgPrf">
                            <button type="button" onclick="editFoto()" class="flex flex-row items-center gap-1 w-fit h-fit px-1 py-[2px] rounded-md bg-gray-800 text-white absolute top-[155px] text-[14px] z-50">
                                <i class="fa-solid fa-pen"></i>
                                <p>Edit</p>
                            </button>
                        </div>
                        {% endif %}
                        
                        <!-- Form foto, ini akan hidden sampai tombol Edit ditekan -->
                        {{ form.foto }}
                    
                        <!-- Tombol Edit -->
                    </div>
                </div>
                <div class="pt-5 flex gap-3 flex-col">
                    <div class="w-fit">
                        <h4 class="header4 text-[18px]">Nama</h4>
                        <div class="flex h-fit flex-row gap-3 w-full max-w-[400px]">
                            {{ form.nama }} <!-- Input dari form Django -->
                            <a onclick="ubahNama()" class="cursor-pointer"><i class="fa-solid fa-square-pen text-[41px]"></i></a>
                        </div>
                        <p class="text-[13px]">*pastikan mengisi nama dengan benar dan tepat</p>
                    </div>
                    <div class="flex items-start flex-col gap-1 w-full cardCir bg-gray-50 p-2 mb-5 shadow-none cardAni border-[2px]">
                        <h1 class="header3 w-full">ID : {{user_profile.user}}</h1>
                        <h1 class="header3 w-full">Role : {{user_profile.jabatan}}</h1>
                    </div>
                </div>
            </div>
            <div class="mainEditPrfl">
                <div class="editPrfl2">
                    <div class="w-fit">
                        <h4 class="header4 text-[18px]">Alamat</h4>
                        <div class="flex h-fit flex-row gap-3 w-full max-w-[400px]">
                            {{ form.alamat }} <!-- Input dari form Django -->
                            <a onclick="ubahAlamat()" class="cursor-pointer"><i class="fa-solid fa-square-pen text-[41px]"></i></a>
                        </div>
                        <p class="text-[13px] w-fit">
                            *isi alamat sesuai dengan yang dimasukkan <br>
                            di Sistem Akademik UIN Sunan Kalijaga
                        </p>
                    </div>
                </div>
                <div class="editPrfl2">
                    <div class="w-fit">
                        <h4 class="header4 text-[18px]">Tanggal Lahir</h4>
                        <div class="flex h-fit flex-row gap-3 w-full max-w-[400px]">
                            {{ form.tanggal_lahir }} <!-- Input dari form Django -->
                            <a onclick="ubahTanggalLahir()" class="cursor-pointer"><i class="fa-solid fa-square-pen text-[41px]"></i></a>
                        </div>
                        <p class="text-[13px]">*pastikan mengisi tanggal lahir dengan benar dan tepat</p>
                    </div>
                </div>
            </div>
            <div class="editFrmBtn">
                <button type="submit" class="buttonRec bg-green-100 hover:bg-green-200">Update</button>
                <button type="button" class="buttonRec bg-gray-100 hover:bg-gray-200" onclick="popupEdit()">Cancel</button>
            </div>
        </form>
    </div>
</div>

<script>
    // Fungsi untuk membuka/menutup popup edit
    function popupEdit() {
        const editPop = document.getElementById('editPop');
        const pageWrapper = document.getElementById('pageWrapper')
        
        if (editPop.classList.contains('hidden')) {
            editPop.classList.remove('hidden');
            editPop.classList.add('popup-enter');
            pageWrapper.classList.add('blur-bg');

            setTimeout(() => {
                editPop.classList.add('flex');
                editPop.classList.remove('popup-enter');
            }, 100);
        } else {
            // Popup ditutup
            pageWrapper.classList.remove('blur-bg');
            editPop.classList.add('popup-exit-active');
            
            setTimeout(() => {
                editPop.classList.remove('popup-exit-active');
                editPop.classList.add('hidden');
                editPop.classList.remove('flex');
            }, 300);
        }
    }

    // Fungsi untuk mengubah status elemen input menjadi edit
    function editFoto() {
        const fotoInput = document.querySelector('input[name="foto"]');
        fotoInput.style.display = 'block';

        const editButton = document.querySelector('.imgEditBtn');
        editButton.textContent = 'Change Photo';
    }

    function ubahNama() {
        const input = document.querySelector('input[name="nama"]');
        input.removeAttribute('readonly');
        input.removeAttribute('disabled');
        input.classList.remove('cursor-not-allowed');
    }

    function ubahAlamat() {
        const input = document.querySelector('input[name="alamat"]');
        input.removeAttribute('readonly');
        input.removeAttribute('disabled');
        input.classList.remove('cursor-not-allowed');
    }
    function ubahAlamat() {
        const input = document.querySelector('input[name="alamat"]');
        input.removeAttribute('readonly');
        input.removeAttribute('disabled');
        input.classList.remove('cursor-not-allowed');
    }

    function ubahTanggalLahir() {
        const input = document.querySelector('input[name="tanggal_lahir"]');
        input.removeAttribute('readonly');
        input.removeAttribute('disabled');
        input.classList.remove('cursor-not-allowed');
    }
</script>

    
{% endblock content %}
