{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Tabel</title>
    <style>
        #loginBtn {
            display: none;
        }
    </style>
{% endblock title %}

{% block content %}
<main class="w-full h-full flex-col justify-start">
    <h1 class="header1 p-3">Tabel Resiko</h1>
    <div class="cardRec m-[10px]">
        <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left rtl:text-right border-separate border-spacing-0">
                <thead class="text-xs uppercase bg-gray-100">
                    <tr>
                        <th scope="col" class="px-2 py-3 text-center border border-gray-500 font-bold text-[20px]">
                            No
                        </th>
                        <th scope="col" class="px-2 py-3 w-3/4 border border-gray-500 text-center font-bold text-[20px]">
                            Resiko
                        </th>
                        <th scope="col" class="px-2 py-3 w-1/4 border border-gray-500 text-center font-bold text-[20px]">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for risk in risks %}
                    <tr class="bg-white border-b">
                        <th scope="row" class="px-2 py-4 font-medium text-gray-900 whitespace-nowrap text-xs text-center border border-gray-500">
                            1
                        </th>
                        <td class="px-2 py-4 w-3/4 border border-gray-500">
                            {{ risk.kode_resiko }}
                        </td>
                        <td class="px-2 py-4 w-1/4 border border-gray-500">
                            <div id="actionBtn" class="flex flex-row place-content-center gap-2">
                                <div class="buttonCir h-auto"><a href="#">Hapus</a></div>
                                <div class="buttonCir h-auto"><a href="#">Edit</a></div>
                                <div class="buttonCir h-auto"><a href="#">Lihat Grafik</a></div>    
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>    
    </div>    
</main>
{% endblock content %}